@mixin footer {
  .p-footer {
    font-size: small;
    padding: 2rem 0 4rem 0;

    @media screen and(max-width: $breakpoint-medium) {
        padding-block-end: 2rem;
      }

    .p-footer--left {
      justify-content: flex-start;
      text-align: left;
    }

    .p-footer--center {
      justify-content: center;
      text-align: center;

      @media screen and(max-width: $breakpoint-medium) {
        justify-content: flex-start;
        padding-bottom: 1.5rem;
        text-align: left;
      }
    }

    .p-footer--right {
      display: flex;
      justify-content: flex-end;

      a {
        display: flex;
        align-content: center;

        &:not(:last-of-type) {
          margin-right: $spv-inner--large;
        }
      }
    }
  }
}
