// Import the framework
@import "node_modules/vanilla-framework/scss/vanilla";

// Include vanilla patterns
@include vf-base;
@include vf-p-grid;
@include vf-p-strip;
@include vf-p-icons;
@include vf-p-headings;
@include vf-u-layout;
@include vf-u-hide;
@include vf-u-align;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;

// color variables
$color-primary: #1555a8;
$color-secondary: #ff9900;
$color-accent: #23ce6b;
$color-background: #c9c1a9; // dark #1c1c1c
$color-light: #f7f7f7;

// https://fonts.google.com/specimen/Poppins
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500");

html {
  font-family: "Poppins", Helvetica, sans-serif;
  // font-family:  Helvetica, sans-serif;
}

@import "footer";
@include footer;

@import "link";
@include link;

@import "table";
@include table;

@import "navigation";
@include navigation;

@import "card";
@include card;

@import "button";
@include button;

@import "icons";
@include icons;

.main {
  background-color: $color-background;
  min-height: 100vh;
}

.row {
  grid-gap: 0 1rem;
}

.required-legend {
  font-size: small;
  margin-bottom: 0;
  padding: 0;

  &::before {
    color: #c7162b;
    content: "*";
    position: relative;
    right: 0.25rem;
  }
}

label {
  font-weight: 500;

  &.is-required::after {
    color: #c7162b;
    content: "*";
    left: 0.25rem;
    position: relative;
  }
}

textarea,
[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"],
[type="number"],
[type="search"],
[type="password"],
[type="email"],
[type="url"],
[type="tel"] {
  background-color: $color-light;
}
