@mixin table {
  table.p-table--details {
    tbody {
      font-size: small;
    }

    tr {
      border: none;

      &:first-child {
        td:first-child {
          width: 30%;
        }
        td:nth-child(2) {
          width: 70%;
        }
      }
    }

    th:first-child {
      color: $color-mid-dark;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 500;
    }

    th,
    td {
      padding: 0;
      vertical-align: middle;
      text-align: left;

      @media screen and(max-width: $breakpoint-small) {
        padding: $spv-inner--small 0;
      }
    }
  }
}
